.image-cropper {
  width: 200px;
  height: 200px;
  position: relative; 
  overflow: hidden;
  border-radius: 50%;
  margin-left: 200px;
  margin-top: 40px;  
}

.image-cropper img {
  width: 110%;
  height: 110%;
  object-fit: cover; 
  position: relative; 
  display: block; 
}



.about_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  margin-left: 80px;
  margin-top: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

  

.my-text-style {
    font-family: "Caveat", cursive;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    color: rgb(0, 0, 0);
}

.my-chinese-style {
    font-family: "SimSun", sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    color: rgb(0, 0, 0);
}

.my-text-style-latin {
    font-family: 'Old Standard TT', serif;
    font-size: 20px;
    font-weight: 700;
}

.my-text-style-english {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  font-weight: 700;
}

.my-text-style-french {
  font-family: 'Rouge Script', cursive;
  font-size: 20px;
  font-weight: 700;
}

.my-text-style-german {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  font-weight: 700;
}
